.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.pokemon-grid {
    height: 75%;
    width: 75%;
}

.panel-info {
    border-color: #eee;
}

.panel-info > .panel-heading {
    background-color: #ccc;
    border-color: #e5e5e5;
    color: #333;
}

.pokemon-list {
    /*height: 600px;
    overflow-y: auto;
    overflow-x: hidden;*/
}

.pokemon-type {
    float: right;
    position: absolute;
    margin-top: -100px;
    margin-left: 166px;
}

.type1 {
    width: 20px;  
    margin-bottom: 30px;
}

.label-fixed {
    width: 60px;
    margin-bottom: 5px;
}

.poke-name {
    text-align: center;
}

.label-dark {
    background-color: #333;
}

.label-steel {
    background-color: #999;
    width: 60px;
}

.label-pink {
    background-color: #de5bce;    
}

.table tr {
    cursor: pointer;
}

.label-head {
    width: 600px;
    margin-left: 250px;
}

.detail-pokemon-type {
    float: right;
    position: absolute;
    margin-top: -145px;
    margin-left: 260px;
}

.progress-bar-defense {
    background-color: #5cb85c;
}

.progress-bar-speed {
    background-color: #de5bc2;
}

.detail-pokemon-grid {
    height: 75%;
    width: 75%;
    margin-left: 50px;
}

.detail-label-fixed {
    width: 130px;
    height: 30px;
    padding: 0.6em .6em .3em;
    font-size: 98%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 21px;
}

.detail-label-fixed-single {
    width: 130px;
    height: 30px;
    padding: 0.6em .6em .3em;
    font-size: 98%;
    margin-right: 20px;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 21px;
}

.detail-sprite {
    margin-left: 190px;
}

.pull-right {
    float: right;
}

.pagination {
    height: 40px;
    margin: 20px 0;
}

.pagination ul>li {
    display: inline;
}

li {
    line-height: 20px;
}


.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.pagination ul>.active>a, .pagination ul>.active>span {
    color: #999999;
    cursor: default;
}

.pagination ul>li>a:hover, .pagination ul>.active>a, .pagination ul>.active>span {
    background-color: #f5f5f5;
}
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}
.pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}
a {
    color: #0088cc;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.details-align {
    text-align: center;
}

/*tooltip styles*/
.tooltip-text {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-text .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 20px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-text .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-text:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}