<div class="row">
    <div class="col-lg-2">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchValue" placeholder="Search for name...">
          <span class="input-group-btn">
          </span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="btn-group" role="group" aria-label="...">
          <button id="btn1" type="button" class="btn btn-default" ng-class="newClass1" ng-click="sortOrder(1)">ASC</button>
          <button id="btn2" type="button" class="btn btn-default" ng-class="newClass2"  ng-click="sortOrder(2)">DESC</button>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort by: {{sortByValue}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="" ng-click="sortBy('id')">ID</a></li>
            <li><a href="" ng-click="sortBy('ename')">Name</a></li>
          </ul>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Order by type: {{eOrderByType}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="" ng-click="orderByType(type.cname, type.jname, type.ename)" ng-repeat="type in types | orderBy: type.ename">{{type.ename}}</a></li>
          </ul>
        </div>
    </div>
</div>
<br /><br />
<div class="pokemon-list">
    <div class="col-lg-3 pokemon-panel" ng-click="triggerChildDetails(pm.id)" ng-repeat="pm in pokemonData | filter:searchValue | filter: {etype: eOrderByType} | orderBy: sortingOrder: reverse">
        <div class="panel panel-info"> 
            <div class="panel-heading"> 
                <h3 class="panel-title poke-name">{{pm.id}} {{pm.ename}}</h3> 
            </div> 
            <div class="panel-body"> 
                <img class="pokemon-grid" ng-src="../images/img/{{pm.id + pm.ename}}.png"  err-src="../images/img/{{pm.id + pm.flatName}}.png" /> 
                <div>
                    <div class="pokemon-type">
                        <div class="type1" ng-repeat="type in pm.etype">
                            <span class="label label-default col-sm-12 label-fixed" ng-if="type=='Normal'">{{type}}</span>
                            <span class="label label-success col-sm-12 label-fixed" ng-if="type=='Grass'">{{type}}</span>
                            <span class="label label-success col-sm-12 label-fixed" ng-if="type=='Ground'">{{type}}</span>
                            <span class="label label-danger col-sm-12 label-fixed" ng-if="type=='Fire'">{{type}}</span>
                            <span class="label label-danger col-sm-12 label-fixed" ng-if="type=='Electric'">{{type}}</span>
                            <span class="label label-warning col-sm-12 label-fixed" ng-if="type=='Poison'">{{type}}</span>
                            <span class="label label-warning col-sm-12 label-fixed" ng-if="type=='Bug'">{{type}}</span>
                            <span class="label label-info col-sm-12 label-fixed" ng-if="type=='Flying'">{{type}}</span>
                            <span class="label label-primary col-sm-12 label-fixed" ng-if="type=='Water'">{{type}}</span>
                            <span class="label label-dark col-sm-12 label-fixed" ng-if="type=='Dark'">{{type}}</span>
                            <span class="label label-dark col-sm-12 label-steel" ng-if="type=='Steel'">{{type}}</span>
                            <span class="label label-danger col-sm-12 label-fixed" ng-if="type=='Dragon'">{{type}}</span>
                            <span class="label label-danger col-sm-12 label-fixed" ng-if="type=='Ghost'">{{type}}</span>
                            <span class="label label-steel col-sm-12 label-fixed" ng-if="type=='Rock'">{{type}}</span>
                            <span class="label label-info col-sm-12 label-fixed" ng-if="type=='Ice'">{{type}}</span>
                            <span class="label label-pink col-sm-12 label-fixed" ng-if="type=='Fairy'">{{type}}</span>
                            <span class="label label-pink col-sm-12 label-fixed" ng-if="type=='Fighting'">{{type}}</span>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>